<!-- <div #divToPrint>

  <signature-pad #sign *ngIf="!printbill">

  </signature-pad>

  <img *ngIf="printbill" [src]="this.image.src" alt="">
</div>

<button (click)="printDiv()">print</button>
<button (click)="convertToPDF()">docs</button>
<button (click)="clear()">clear</button> -->


<!-- <p>generatebill-invoice works!</p> -->
<!-- <p>detailbill-invoice works!</p> -->
<!-- <p>create-invoice works!</p> -->
<!-- <p>detailbill-invoice works!</p> -->
<div class="container-fluid p-0 justify-content-center">
  <div class="row">

    <div class="form-container col-11">

      <div class="heading display-2 ms-1">
        <i class="bi-receipt"></i> Bill
      </div>
      <div #divToPrint class="bill-page row mt-5">
       <!-- y -->
        <div class="col-12 logo p-2">
          <img class="bill-logo" src="../assets/images/bill-logo.png" alt="Wagheshwari Gold">
        </div>

        <div class="bill-detail col-7 p-2">
          <span class="display-2">Invoice</span>
        </div>

        <div class="bill-detail2 col-4 p-2 align-items-end">
          <span></span>
        </div>

        <div class="bill-detail1 col-7 p-2">
          <span>Prop. MANISH ARVIND SONI (PATADIYA)</span><br>
          <span>Mob.: 8390916916</span><br>
          <span>GSTIN: 23456789fghjkl</span>
        </div>

        <div class="bill-detail3 col-4 p-2">
          <span>State</span>
          <span>2</span>
          <span>7</span>
          <span class="space"></span>
        </div>


        <div class="bill-detail4 col-4 p-2 align-items-end">
          <p>Invoice No : <br>
            12345</p>
        </div>
        <div class="bill-detail5 col-3 p-2">
          <p>Invoice Date : <br>
            1/1/2024</p>
        </div>
        <div class="bill-detail6 col-4 p-2">
          <p>Voucher No : <br>
            12345</p>
        </div>

        <div class="bill-detail6 col-11 p-0 align-items-end">
          <table class="table table-borderless p-0 mb-0 border-dark">
            <thead>
              <tr>
                <th scope="col" style="border: 1px solid black;">Sr.No.</th>
                <th scope="col" style="border: 1px solid black;">Description</th>
                <th scope="col" style="border: 1px solid black;">HSN/SAC</th>
                <th scope="col" style="border: 1px solid black;">Gross Wt</th>
                <th scope="col" style="border: 1px solid black;">Net Wt</th>
                <th scope="col" style="border: 1px solid black;">Labour Rate</th>
                <th scope="col" style="border: 1px solid black;">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="border: 1px solid black;">1</td>
                <td style="border: 1px solid black;">Mark</td>
                <td style="border: 1px solid black;">Otto</td>
                <td style="border: 1px solid black;">abcde</td>
                <td style="border: 1px solid black;">12345</td>
                <td style="border: 1px solid black;">12345</td>
                <td style="border: 1px solid black;">12345</td>
              </tr>
              <tr style="border: none;">
                <td colspan="4" rowspan="7">
                  <span>Bank Details : <br>For RTGS and NEFT Favouring Manish Arvind Soni (PATADIYA) </span>
                  <br><br>
                  <span>Bank of India. 181, Budhwar Peth, Pune-411002</span>
                  <br><br>
                  <span>A/C NO.: 23456789012 | IFSC No.: 1234567890</span>
                </td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">Sub Total</td>
                <td style="border: 1px solid black;" class="table-items">55000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">Other Charges</td>
                <td style="border: 1px solid black;" class="table-items">0</td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">Taxable Amount</td>
                <td style="border: 1px solid black;" class="table-items">0</td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">CGST (2.50 %)</td>
                <td style="border: 1px solid black;" class="table-items">0 </td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">SGST (2.50 %)</td>
                <td style="border: 1px solid black;" class="table-items">0 </td>
              </tr>
              <tr>
                <td style="border: 1px solid black;" colspan="2" class="table-items">IGST</td>
                <td style="border: 1px solid black;" class="table-items">0 </td>
              </tr>

              <tr>
                <td style="border: none; " colspan="7" class="table-items"></td>
              </tr>

              <tr style="border: none;">
                <td  style="border: none;" colspan="7" class="table-items">
                  <div class="bill-detail9 text-end">
                    <p class="display-4">Invoice Total : 60000</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



        <div class="bill-detail9 col-6 p-2">

          <p>Recieved By : <br>
            <signature-pad [options]="signaturePadOptions" #sign *ngIf="!printbill">

            </signature-pad>
            <img *ngIf="printbill" [src]="this.image.src" alt="">
          </p>
        </div>

        <div class="bill-detail10 col-5 p-2">

            <p>For Wagheshwari Gold & Co.  <br>
              <signature-pad [options]="signaturePadOptions" #sign1 *ngIf="!printbill">

              </signature-pad>

              <img *ngIf="printbill" [src]="this.image1.src" alt="">
              <br>
              Prop. MANISH ARVIND SONI (PATADIYA)</p>
        </div>


      </div>



      <button class="col-12 m-4 mb-5 ms-0 btn btn-success" (click)="docs()">Print</button>

    </div>
  </div>

</div>







